.formulario{
    align-items:center;
    background-color:rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding: 25px;
}

.formulario input{
    border: #333333 solid 1px;
    border-radius: 8px;
    height: 25px;
    padding: 5px 10px;
    width: 80%;
}

.formulario button{
    background-color:cornflowerblue;
    color: #fff;
    width: 84%;
}

.formulario button:hover{
    background-color:darkslateblue;
}

.msjError{
    background-color: rgb(252, 182, 182);
    color: red;
    font-weight: bold;
    padding: 5px;
}